.carta{
    box-shadow: $box-shadow;
    text-align: center;
    @include box($font-size*2, bold, none, $border-radius/2, #000000, $color4);
    @include size(250px, auto, 15px 15px, 0 0 10px);

    img{
        border-radius: $border-radius/2;
        object-fit: cover;
        @include size(100%, 350px, 0 0 5px, 2px);
    }

    button{
        transition: all 300ms ease;
        @include box($font-size+4, bold, $border, $border-radius*2, $color4, $color1);
        @include size(auto, auto, 0, 5px 5px);
    }
    
    button:hover{
        background-color: $color2;
    }
}

//Productos en carrito

.cartaCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: $box-shadow;
    @include box($font-size*2, bold, none, $border-radius/2, #000000, $color4);
    @include size(auto, auto, 15px 15px, 2px 20px 2px 2px);

    .detalles {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }

    img {
        border-radius: $border-radius/2;
        object-fit: cover;
        width: 150px;
        height: 150px;
    }
    
    button{
        transition: all 300ms ease;
        @include box($font-size+4, bold, $border, $border-radius*2, $color4, $color1);
        @include size(auto, auto, 0, 5px 5px);
    }
    
    button:hover{
        background-color: $color2;
    }
}

//Botones carrito
.boton{
    transition: all 300ms ease;
    @include box($font-size+4, bold, $border, $border-radius*2, $color1, $color4);
    @include size(auto, auto, 0, 5px 5px);
}

.boton:hover{
    background-color: $color1;
    color: $color4;
}